---
import Author from "./author.astro";

let { posts } = Astro.props;
---

<style>
  .info a {
    display: inline-block;
    color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 25px 0px;
    text-decoration: none;
  }

  .info a:hover {
    width: 100%;
    text-decoration: underline;
  }

  .cover-post {
    height: 220px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
  }

  img {
    display: block;
    object-fit: cover;
    object-position: center center;
  }
</style>

{
  posts.map(({ url, frontmatter: { title, date, author } }) => {
    const coverImage = `/images${url}/cover_image.webp`;
    return (
      <article>
        <div class="cover-post">
          <a href={url}>
            <img srcset={coverImage} alt={title} />
          </a>
        </div>
        <div class="info">
          <a href={url}>{title}</a>
        </div>
        <Author date={date} author={author} />
      </article>
    );
  })
}
