---
import { MarkdownInstance } from "astro";
import { PostMetada } from "../utils/interfaces";
import Author from "./author.astro";
import PostTags from "./postTags.astro";

type Props = {
  posts: MarkdownInstance<PostMetada>[];
};

let { posts } = Astro.props;
---

<style>
  article {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: border-color 0.2s ease;
    margin-bottom: 2rem;
  }

  article:hover {
    border-color: rgba(255, 255, 255, 1);
  }

  .info a {
    display: inline-block;
    color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 25px 0px;
    text-decoration: none;
  }

  .info a:hover {
    width: 100%;
    text-decoration: underline;
  }

  .cover-post {
    height: 220px;
    overflow: hidden;
    border: 1px inset solid var(--primary-color);
    box-sizing: border-box;
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    object-position: center center;
  }
</style>

{
  posts.map(({ url, frontmatter: { title, date, author, tags } }) => {
    const coverImage = `/images${url}/cover_image.webp`;
    return (
      <article>
        <div class="cover-post">
          <a href={url}>
            <img srcset={coverImage} alt={title} />
          </a>
        </div>
        <div class="info">
          <a href={url}>{title}</a>
        </div>
        <Author date={date} author={author} />
        <PostTags tags={tags.split(",")} />
      </article>
    );
  })
}
