---
import RootLayout from "./rootLayout.astro";
import type { MarkdownLayoutProps } from "astro";
import Sidebar from "../components/sidebar.astro";
import PostHeader from "../components/postHeader.astro";
type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
  cover: string;
}>;
const props = Astro.props.frontmatter || Astro.props;
const coverImageUrl = `/images${props.url}/cover_image_scaled.webp`;
---

<style lang="scss">
  main {
    position: relative;
    z-index: 4;

    .header_image {
      margin-bottom: 5rem;
      position: relative;

      &::after {
        content: "Imagen generada por Stable Difusion";
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-shadow: 2px 2px 2px rgba(23, 22, 29, 0.6);
        color: rgba(255, 255, 255, 0.7);
      }
      img {
        display: block;
        width: 100%;
        border-radius: 12px;
        border: 2px var(--primary-color) solid;
        box-sizing: border-box;
      }
    }

    .body-post {
      color: white;

      h2 {
        background-color: red;
      }
    }
  }
</style>

<RootLayout title={props.title}>
  <PostHeader data={props} />
  <main>
    <div>
      <div class="header_image">
        <img
          srcset={coverImageUrl}
          alt={`${props.title}. Imagen generada por Stable Difusion`}
        />
      </div>
      <div class="body-post">
        <slot />
      </div>
    </div>
    <Sidebar />
  </main>
</RootLayout>
