---
import RootLayout from "./rootLayout.astro";
import type { MarkdownLayoutProps } from "astro";
import Sidebar from "../components/sidebar.astro";
import PostHeader from "../components/postHeader.astro";
type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
  cover: string;
}>;
const props = Astro.props.frontmatter || Astro.props;
const coverImageUrl = `/images${props.url}/cover_image_scaled.webp`;
---

<style>
  main {
    position: relative;
    z-index: 4;
  }

  .body-post {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .header_image {
    margin-bottom: 2rem;
  }
  .header_image small {
    display: block;
    color: white;
    font-family: "Lato", sans-serif;
    text-align: right;
    margin-top: 0.5rem;
  }

  .header_image > img {
    display: block;
    width: 100%;
    border: 2px var(--primary-color) solid;
    box-sizing: border-box;
  }
</style>

<style lang="scss" is:global>
  #body-post {
    font-family: "Lato", sans-serif;

    h2 {
      font-size: 1.7rem;
      color: white;
      font-weight: 700;
    }

    img {
      display: block;
      width: 100%;
    }

    p {
      font-size: 1.2rem;
      color: white;
      line-height: 1.8;
      margin-bottom: 2rem;

      > strong,
      a {
        color: var(--primary-color);
      }
    }

    pre.astro-code {
      padding: 1rem;
      border: 1px solid var(--primary-color);
    }
  }
</style>

<RootLayout title={props.title}>
  <PostHeader data={props} />
  <main>
    <div>
      <div class="header_image">
        <img
          srcset={coverImageUrl}
          alt={`${props.title}. Imagen generada por Stable Difusion`}
        />
        <small>Imagen generada por Stable Difusion</small>
      </div>
      <div id="body-post">
        <slot />
      </div>
    </div>
    <Sidebar />
  </main>
</RootLayout>
